.tags-container .tag, .timeline .vertical, .timeline .horizontal .line {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.12) 0px 4px 2px, rgba(0, 0, 0, 0.12) 0px 8px 4px, rgba(0, 0, 0, 0.12) 0px 16px 8px;
}

.back-up-button {
  display: none;
  background-color: transparent;
  border: none;
  position: fixed;
  right: 2%;
  bottom: 150px;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .back-up-button {
    bottom: 215px;
    right: 20px;
  }
}
.back-up-button i {
  font-size: 4rem;
}
.back-up-button:hover {
  transform: scale(1.2);
}

:root {
  --background: #131e23;
  --background: #EDE2DC;
  --navbar: #d4cac5;
  --nav-link: #AB3B61;
  --nav-link-active: #AB3B61;
  --text: #AB3B61;
  --card-color: #ede5db;
  --card-border: #EAD7BB;
  --overlay-navbar:#64B2CD;
  --footer: #123c69;
  --footer-text: #eae7dc;
  --header: #AB3B61;
  --features-box: #123c69;
  --features-text: #EDE2DC;
  --intro: #ac3b61;
  --intro-text: #EDE2DC;
  --profile-link: #ac3b61;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-size: 18px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  color: var(--text);
}

section {
  width: 100%;
  margin-bottom: 50px;
}
section .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 400;
  border-bottom: 2px solid var(--text);
}
@media screen and (max-width: 768px) {
  section .section-title {
    width: 80%;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 100px;
  /*  p{
       font-size: 1.5rem;
   } */
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 60px;
  transition: background-color 0.3s ease-out;
}

.transparent {
  background-color: transparent;
}

.visible {
  background-color: var(--navbar);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0 20px;
  }
}
nav .logo-container {
  height: 60%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .logo {
  height: 50px;
  display: flex;
  align-self: center;
}

.burger-button {
  width: 40px;
  border: none;
  background-color: transparent;
  height: 60%;
  display: none;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .burger-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .burger-button.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-links-container {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 50px;
    height: 60%;
  }
  .nav-links-container.nav-links-container-hide {
    display: none;
  }
  .nav-links-container.nav-links-container-show {
    display: flex;
  }
}

.nav-link {
  text-decoration: none;
  color: var(--nav-link);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-link {
    height: 50px;
    background-color: lightblue;
  }
}
@media screen and (min-width: 769px) {
  .nav-link {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover {
    transform: translateX(-1px) translateY(5px) scale(1.2);
    height: 85%;
  }
}
.nav-link.active-link {
  font-weight: 600;
  border-bottom: 2px solid var(--nav-link-active);
}

/******************** OVERLAY ***********************/
.close-btn {
  display: none;
  background-color: transparent;
  border: none;
}
.close-btn.show-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-btn.show-btn i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  color: white;
}

.no-scroll {
  overflow: hidden;
}

.overlay-menu {
  display: none;
}
.overlay-menu.show-fullscreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-navbar);
  position: absolute;
  top: 0;
  left: 0;
  animation: slideNavUp 0.5s ease-in-out forwards;
}
.overlay-menu.show-fullscreen html {
  display: none;
}
@media screen and (min-width: 769px) {
  .overlay-menu.show-fullscreen {
    padding: 60px 15% 80px 15%;
  }
}
.overlay-menu .overlay-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .overlay-menu .overlay-inner-container {
    flex-direction: column;
    padding: 20px;
    /*  .overlay-logo{
         height: 50px;
         text-align: center;
     } */
  }
}
@media screen and (min-width: 769px) {
  .overlay-menu .overlay-inner-container {
    flex-direction: row;
    border-bottom: 1px solid whitesmoke;
    padding: 0 50px 50px 50px;
    /* .overlay-logo{
        flex-basis: 100%;
        height: 100px;
        @include reusables.flex(row, center, center);
    } */
  }
}

.overlay-logo-container {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .overlay-logo-container {
    flex-basis: 100%;
  }
}
.overlay-logo-container .logo {
  height: 100px;
}

.overlay-links-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}
.overlay-links-container .overlay-nav-link {
  animation: slideNavLinkUp 0.5s ease-in-out forwards;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.overlay-links-container .overlay-nav-link:nth-child(2) {
  animation-delay: 0.3s;
}
.overlay-links-container .overlay-nav-link:nth-child(3) {
  animation-delay: 0.6s;
}
.overlay-links-container .overlay-nav-link:nth-child(4) {
  animation-delay: 0.9s;
}
@media screen and (max-width: 768px) {
  .overlay-links-container .overlay-nav-link {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .overlay-links-container .overlay-nav-link {
    opacity: 0;
    position: relative;
    height: 50px;
  }
}
.overlay-links-container .overlay-nav-link.active-link {
  border-bottom: 2px solid white;
}

.overlay-right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .overlay-right-container .social-icons {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .overlay-right-container .copyright {
    text-align: center;
    gap: 100px;
  }
}

/* ANIMATIONS */
@keyframes slideNavLinkUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideNavUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.back-up-button {
  transition: display 1s ease-in-out;
}

footer {
  height: 20vh;
  background-color: var(--footer);
  margin-top: 100px;
  color: var(--footer-text);
}
@media screen and (max-width: 768px) {
  footer {
    height: 30vh;
  }
}

.footer-content-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .footer-content-container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 576px) {
  .footer-content-container {
    padding: 20px;
  }
}

.copyright p {
  font-size: 1.3rem;
}
@media screen and (max-width: 576px) {
  .copyright p {
    width: 100%;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  height: fit-content !important;
  height: 50px;
}
.social-icons i {
  font-size: 2rem;
  color: var(--footer-text);
  transition: transform 0.3s ease-in-out;
}
.social-icons i:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 768px) {
  .social-icons {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .social-icons {
    width: 100%;
    justify-content: center;
  }
}

/************************************* ABOUT ME *************************************/
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.about-container p {
  width: 100%;
  font-size: 1.5rem;
}

/************************************* TAG LIST *************************************/
.tags-container .tags-list {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  flex-wrap: wrap;
  gap: 40px;
  /* @media only screen and (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
  } */
}
.tags-container .tag {
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid rgb(110, 131, 138);
  background-color: var(--text);
  color: var(--background);
  width: 120px;
  text-align: center;
}

/************************************ CV TIMELINE *************************************/
.container.timeline {
  padding-top: 0;
  padding-bottom: 0;
}

.timeline {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  gap: 40px;
}
.timeline .vertical {
  position: absolute;
  height: 100%;
  width: 20px;
  border-radius: 20px;
  background-color: var(--features-box);
  z-index: 3;
  margin: 0 auto;
  left: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.timeline .horizontal {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  color: var(--features-box);
  transition: all 0.3s linear;
}
.timeline .horizontal.n1, .timeline .horizontal.n3 {
  left: 50%;
}
.timeline .horizontal.n1 p, .timeline .horizontal.n3 p {
  align-self: flex-end;
  text-align: right;
}
.timeline .horizontal p {
  font-size: 1.2rem;
  word-wrap: break-word;
  width: 80%;
  transition: all 0.3s linear;
}
.timeline .horizontal.marked-phase {
  color: var(--text);
}
.timeline .horizontal.marked-phase .line {
  background-color: var(--text);
}
.timeline .horizontal .line {
  height: 10px;
  border-radius: 20px;
  background-color: var(--features-box);
  z-index: 2;
  width: 100%;
  border: 1px solid rgb(110, 131, 138);
  transition: all 0.3s ease-in-out;
}
.timeline .horizontal .top, .timeline .horizontal .bottom {
  max-width: 50%;
}