* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  background-color: #F4F4F4;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

section {
  margin: 50px 0;
  width: 100%;
}
section .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 100px;
  /*  @media screen and (max-width: 450px) {
       padding: 20px;
   } */
}
.container p {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

.tags-container .tag, .portfolio-card:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px;
}

.portfolio-card {
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  text-decoration: none;
}
.portfolio-card figure {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
}
.portfolio-card img {
  width: 450px;
  object-fit: cover;
  border: 1px solid lightgrey;
  border-radius: 0;
  height: 220px;
}
@media screen and (max-width: 450px) {
  .portfolio-card img {
    width: 100%;
  }
}
.portfolio-card figcaption {
  font-size: 1.3rem;
  color: black;
  padding: 25px;
}
.portfolio-card:hover {
  transform: scale(1.02);
}

.nav-container {
  background-color: lightgray;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
nav .logo {
  height: 60%;
  font-size: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .active-link {
  border-bottom: 2px solid black;
  /* Border color when the link is active */
}

/* Phone */
@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 40px;
  }
  .nav-links-container {
    display: none;
  }
  .nav-links-container.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    top: 81px;
    left: 0;
    height: 200px;
  }
  .nav-link {
    height: 50px;
    background-color: lightblue;
  }
}
@media screen and (min-width: 769px) {
  .burger-menu {
    display: none;
    /* Show burger menu button */
  }
  .nav-links-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 50px;
    height: 60%;
  }
  .nav-link {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover {
    transform: translateX(-1px) translateY(5px) scale(1.2);
    height: 85%;
  }
}
footer {
  height: 20vh;
  background-color: lightcyan;
}
@media screen and (max-width: 768px) {
  footer {
    height: 30vh;
  }
}

.footer-content-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .footer-content-container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 576px) {
  .footer-content-container {
    padding: 20px;
  }
}

.copyright p {
  font-size: 1.1rem;
}
@media screen and (max-width: 576px) {
  .copyright p {
    width: 100%;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  height: fit-content !important;
  height: 50px;
}
.social-icons i {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .social-icons {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .social-icons {
    width: 100%;
    justify-content: center;
  }
}

/* ABOUT ME */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.about-container p {
  width: 100%;
  font-size: 1.5rem;
}

/* TAG list */
.tags-container .tags-list {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  flex-wrap: wrap;
  gap: 40px;
  /* @media only screen and (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
  } */
}
.tags-container .tag {
  padding: 7px 10px;
  border-radius: 10px;
  border: 1px solid lightblue;
  background-color: lightblue;
  width: 100px;
  text-align: center;
}

/* CV timeline */
.timeline {
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  position: relative;
}
.timeline .vertical {
  position: absolute;
  height: 80vh;
  width: 20px;
  border: 2px solid lightblue;
  border-radius: 20px;
  background-color: lightblue;
  z-index: 3;
  margin: 0 auto;
  left: 49%;
}

.horizontal {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.horizontal.n1, .horizontal.n3 {
  left: 50%;
}
.horizontal.n1 p, .horizontal.n3 p {
  align-self: flex-end;
  text-align: right;
}
.horizontal p {
  font-size: 1rem;
  word-wrap: break-word;
  width: 80%;
}
.horizontal .line {
  height: 10px;
  border-radius: 20px;
  background-color: lightgreen;
  z-index: 2;
  width: 100%;
}