.online-profile:hover, form .form-btn {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.12) 0px 4px 2px, rgba(0, 0, 0, 0.12) 0px 8px 4px, rgba(0, 0, 0, 0.12) 0px 16px 8px;
}

.back-up-button {
  display: none;
  background-color: transparent;
  border: none;
  position: fixed;
  right: 2%;
  bottom: 150px;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .back-up-button {
    bottom: 215px;
    right: 20px;
  }
}
.back-up-button i {
  font-size: 4rem;
}
.back-up-button:hover {
  transform: scale(1.2);
}

:root {
  --background: #e5e4e3;
  --card-color: #ede5db;
  --card-border: #EAD7BB;
  --navbar: #8CB9BD;
  --footer: #436850;
  --features-box: #718b70;
  --footer-text: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-size: 18px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
}

section {
  width: 100%;
  margin-bottom: 50px;
}
section .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 100px;
  /*  p{
       font-size: 1.5rem;
   } */
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 60px;
  transition: background-color 0.3s ease-out;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0 20px;
  }
}
nav .logo {
  height: 60%;
  font-size: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .active-link {
  border-bottom: 2px solid black;
}
nav .burger-menu {
  width: 40px;
  border: none;
  background-color: transparent;
  height: 60%;
}
nav .burger-menu i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
nav .burger-menu i:hover {
  color: lightskyblue;
}

/* Phone */
@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-links-container {
    display: none;
  }
  .nav-link {
    height: 50px;
    background-color: lightblue;
  }
}
@media screen and (min-width: 769px) {
  .burger-menu {
    display: none;
  }
  .burger-menu.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-links-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 50px;
    height: 60%;
  }
  .nav-links-container.nav-links-hide {
    display: none;
  }
  .nav-links-container.nav-links-show {
    display: flex;
  }
  .nav-link {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover {
    transform: translateX(-1px) translateY(5px) scale(1.2);
    height: 85%;
  }
}
.close-btn {
  display: none;
  background-color: transparent;
  border: none;
}
.close-btn.show-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-btn.show-btn i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  color: white;
}

.nav-links-container.show-fullscreen {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideNavUp 0.5s ease-in-out forwards;
}
.nav-links-container.show-fullscreen .nav-link {
  animation: slideNavLinkUp 0.5s ease-in-out forwards;
}
.nav-links-container.show-fullscreen .nav-link:nth-child(2) {
  animation-delay: 0.2s;
}
.nav-links-container.show-fullscreen .nav-link:nth-child(3) {
  animation-delay: 0.4s;
}
.nav-links-container.show-fullscreen .nav-link:nth-child(4) {
  animation-delay: 0.6s;
}
@media screen and (max-width: 768px) {
  .nav-links-container.show-fullscreen {
    gap: 50px;
    list-style-type: none;
  }
  .nav-links-container.show-fullscreen .nav-link {
    width: 30%;
  }
}
@media screen and (min-width: 769px) {
  .nav-links-container.show-fullscreen {
    display: flex;
  }
  .nav-links-container.show-fullscreen .nav-link {
    opacity: 0;
    width: 10%;
    position: relative;
    left: -30%;
    height: 100px;
  }
}

@keyframes slideNavLinkUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideNavUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
footer {
  height: 20vh;
  background-color: var(--footer);
  margin-top: 100px;
  color: var(--footer-text);
}
@media screen and (max-width: 768px) {
  footer {
    height: 30vh;
  }
}

.footer-content-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .footer-content-container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 576px) {
  .footer-content-container {
    padding: 20px;
  }
}

.copyright p {
  font-size: 1.3rem;
}
@media screen and (max-width: 576px) {
  .copyright p {
    width: 100%;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  height: fit-content !important;
  height: 50px;
}
.social-icons i {
  font-size: 2rem;
  color: var(--footer-text);
  transition: transform 0.3s ease-in-out;
}
.social-icons i:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 768px) {
  .social-icons {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .social-icons {
    width: 100%;
    justify-content: center;
  }
}

/****************** PROFILES *******************/
.profiles-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.online-profile {
  opacity: 0;
  text-align: center;
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid lightcoral;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: black;
  animation: slideIn 1s ease-out forwards;
}
.online-profile:nth-child(2) {
  animation-delay: 0.2s;
}
.online-profile:nth-child(3) {
  animation-delay: 0.4s;
}
.online-profile:nth-child(4) {
  animation-delay: 0.6s;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .online-profile {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .online-profile {
    width: 100%;
  }
}
.online-profile:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/******************* FORM *******************/
.contact-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  height: 150px !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  form {
    padding: 0;
    margin: 10% 10%;
  }
}
form .field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
form label {
  width: 100%;
}
form textarea, form input {
  padding: 20px;
  border: 2px solid lightcoral;
  border-radius: 10px;
}
form input {
  height: 50px;
  width: 100%;
}
form textarea {
  width: 100%;
  resize: none;
}
form .form-btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  transition: all 0.05s ease-in-out;
  background-color: lightcoral;
  font-size: 1.5rem;
  color: white;
}
form .form-btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.name-container div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.name-container input {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .name-container div {
    width: 100%;
  }
}