header .image-container .images-list .test.n3, .portfolio-preview .portfolio-card:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.12) 0px 4px 2px, rgba(0, 0, 0, 0.12) 0px 8px 4px, rgba(0, 0, 0, 0.12) 0px 16px 8px;
}

.portfolio-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.295);
  transition: all 0.35s ease-in-out;
  text-decoration: none;
  border: 1px solid var(--card-border);
}
.portfolio-card figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 12px;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}
.portfolio-card img {
  object-fit: fill;
  border: 1px solid black;
  border-radius: 4px;
  max-width: 100%;
  height: 200px;
}
@media screen and (max-width: 450px) {
  .portfolio-card img {
    width: 100%;
  }
}
.portfolio-card figcaption {
  font-size: 1.3rem;
  color: black;
  padding: 25px;
}

:root {
  --background: #e5e4e3;
  --card-color: #ede5db;
  --card-border: #EAD7BB;
  --navbar: #8CB9BD;
  --footer: #8CB9BD;
  --features-box: #718b70;
  --footer-text: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-size: 18px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
}

section {
  width: 100%;
  margin-bottom: 50px;
}
section .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 100px;
  /*  p{
       font-size: 1.5rem;
   } */
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 60px;
  transition: background-color 0.3s ease-out;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0 20px;
  }
}
nav .logo {
  height: 60%;
  font-size: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .active-link {
  border-bottom: 2px solid black;
  /* Border color when the link is active */
}

/* Phone */
@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 40px;
  }
  .nav-links-container {
    display: none;
  }
  .nav-links-container.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    top: 100px;
    left: 0;
    height: 200px;
  }
  .nav-link {
    height: 50px;
    background-color: lightblue;
  }
}
@media screen and (min-width: 769px) {
  .burger-menu {
    display: none;
    /* Show burger menu button */
  }
  .nav-links-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 50px;
    height: 60%;
  }
  .nav-link {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover {
    transform: translateX(-1px) translateY(5px) scale(1.2);
    height: 85%;
  }
}
footer {
  height: 20vh;
  background-color: var(--footer);
  margin-top: 100px;
  color: var(--footer-text);
}
@media screen and (max-width: 768px) {
  footer {
    height: 30vh;
  }
}

.footer-content-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .footer-content-container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 576px) {
  .footer-content-container {
    padding: 20px;
  }
}

.copyright p {
  font-size: 1.3rem;
}
@media screen and (max-width: 576px) {
  .copyright p {
    width: 100%;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  height: fit-content !important;
  height: 50px;
}
.social-icons i {
  font-size: 2rem;
  color: var(--footer-text);
  transition: transform 0.3s ease-in-out;
}
.social-icons i:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 768px) {
  .social-icons {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .social-icons {
    width: 100%;
    justify-content: center;
  }
}

/***************************** Home header ***********************************/
/*
.header {
    background-color: var(--footer);
}

header {
    @include reusables.flex(column, space-between, center);
    gap: 50px;
    height: 80vh;
    position: relative;


    @media screen and (max-width: 769px) {
        height: 100vh;
    }

    .features-box {
        position: absolute;
        background-color: var(--footer-text);

        border-radius: 4px;
        height: 140vh;
        top: -180px;
        z-index: 10;
        left: 0;
        @include reusables.flex(column, center, center);

        @media screen and (max-width: 769px) {
            width: 50vw;
        }

    }

    .features-list {

        list-style-type: none;
        order: 2;
        @include reusables.flex(column, center, center);
        gap: 15px;
        color: var(--footer);

        flex: 2;

        .feature {
            display: inline-block;
            font-size: 1.2rem;
            transition: all 1s ease-in-out;
        }


        @media screen and (min-width: 769px) {

            position: relative;
            left: 50%;
            top: 30%;


            .features-list {
                order: 0;
                flex: 2;
            }

            .feature {
                font-size: 1.4rem;
            }

        }
    }

    //figure {
    #scroll-image {
        @include reusables.flex(row, center, center);
        width: 50%;
        height: 100%;

        .test {
            max-width: 300px;
            object-fit: cover;
            border-radius: 15px;
            opacity: 0;
            position: absolute;

            &.n3 {
                opacity: 0;
            }
        }

        @media screen and (min-width: 769px) {

            img {
                max-width: 300px;
            }
        }
    }




}
*/
.header-section {
  background-color: var(--footer);
}

@media screen and (max-width: 768px) {
  .containr.header-container {
    padding: 0;
  }
}

header {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
  }
}
header .features-box {
  flex-basis: 40%;
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--features-box);
}
header .features-box .features-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .features-box .feature {
  font-size: 1.2rem;
  transition: all 1s ease-in-out;
  color: lightgray;
}
@media screen and (max-width: 768px) {
  header .features-box {
    order: 2;
    width: 100vw;
    animation: rotateAnimation 0.3s ease-in-out forwards;
    flex-basis: 20%;
  }
  header .features-box .features-list {
    height: 100%;
    width: 100%;
    gap: 5px;
  }
}
@media screen and (min-width: 769px) {
  header .features-box {
    top: 8%;
  }
}
header .image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 60%;
  width: 100%;
  height: 100%;
}
header .image-container .images-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .image-container .images-list .test {
  max-width: 300px;
  border-radius: 10px;
  opacity: 0;
  position: absolute;
}
header .image-container .images-list .test.n3 {
  opacity: 0;
}

.animate-topdown {
  animation: slideFromTop 1.2s linear forwards;
}
@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(90deg); /* Initial rotation */
  }
  100% {
    transform: rotate(0deg); /* Final rotation */
  }
}
/************************ Home portfolio preview ***********************************/
section.portfolio {
  margin-top: 250px;
  height: 70vh;
}

.portfolio-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
  gap: 55px;
  position: relative;
}
.portfolio-preview h1 {
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.portfolio-preview .portfolio-card {
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.portfolio-preview .portfolio-card:hover {
  transform: scale(1.2);
}

.animate-right {
  animation: slideFromRight 2s ease-in-out forwards;
}
@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animate-left {
  animation: slideToLeft 1s ease-in forwards;
}
@keyframes slideToLeft {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}