* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

section {
  margin: 50px 0;
  width: 100%;
}
section .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 100px;
}
.container p {
  font-size: 1.5rem;
}

.portfolio-preview figure {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.nav-container {
  background-color: lightgray;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
nav .logo {
  height: 80%;
  font-size: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .active-link {
  border-bottom: 2px solid black;
  /* Border color when the link is active */
}

/* Phone */
@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 40px;
  }
  .nav-links-container {
    display: none;
  }
  .nav-links-container.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    top: 81px;
    left: 0;
    height: 200px;
  }
  .nav-link {
    height: 50px;
    background-color: lightblue;
  }
}
@media screen and (min-width: 769px) {
  .burger-menu {
    display: none;
    /* Show burger menu button */
  }
  .nav-links-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 50px;
    height: 80%;
  }
  .nav-link {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover {
    transform: translateX(-1px) translateY(5px) scale(1.2);
    height: 85%;
  }
}
footer {
  height: 20vh;
  background-color: lightcyan;
}

.copyright p {
  font-size: 1.1rem;
}

.footer-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.social-icons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.social-icons i {
  font-size: 2rem;
}

section.header {
  margin-top: 50px;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 90vh;
}
header .features-list {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex: 1;
  gap: 15px;
  color: lightcoral;
}
header .features-list .feature {
  display: inline-block;
  /* Keep elements on the same line */
  font-size: 1.2rem;
  transition: all 1s ease-in-out;
}
header #scroll-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #scroll-image .test {
  max-width: 300px;
  object-fit: cover;
  border-radius: 15px;
}
@media screen and (min-width: 769px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 60vh;
  }
  header .features-list {
    order: 0;
  }
  header .feature {
    font-size: 1.4rem;
  }
  header img {
    max-width: 300px;
  }
}

/***************************** Home portfolio preview ***********************************/
section.portfolio {
  height: 70vh;
}

.portfolio-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 15px;
  /* h3{
      font-size: 1.3rem;
  } */
}
.portfolio-preview h1 {
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.portfolio-preview #project-preview {
  height: 350px;
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
  text-decoration: none;
  height: fit-content;
}
.portfolio-preview #project-preview:hover {
  transform: scale(1.1);
}
.portfolio-preview figure {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 4px;
  background-color: lightblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.portfolio-preview figure img {
  max-width: 450px;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.portfolio-preview figure figcaption {
  font-size: 1.3rem;
  color: black;
}
@media screen and (min-width: 769px) {
  .portfolio-preview img {
    width: 500px;
    object-fit: contain;
    border-radius: 10px;
  }
}