.visible {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.12) 0px 4px 2px, rgba(0, 0, 0, 0.12) 0px 8px 4px, rgba(0, 0, 0, 0.12) 0px 16px 8px;
}

.back-up-button {
  display: none;
  color: var(--tertiary);
  background-color: transparent;
  border: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.back-up-button i {
  font-size: 4rem;
}
.back-up-button:hover {
  transform: scale(1.2);
}

.portfolio-preview-card .card-title {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 2 !important;
}

@media screen and (max-width: 768px) {
  .portfolio-preview-card {
    width: 80vw;
    margin: 0 auto;
  }
}

:root {
  --primary: hsla(158, 35%, 15%, 1);
  --primary-border: hsla(158, 23%, 30%, 1);
  --navbar: hsla(161, 22%, 35%, 0.7);
  --secondary: hsla(158, 33%, 25%, 1);
  --secondary-border: hsla(158, 23%, 35%, 1);
  --tertiary: hsla(160, 52%, 71%, 1);
  --error: #ef5350;
  --text: hsla(160, 52%, 71%, 1);
  --text-2: #d3ded5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--primary);
  font-size: 18px;
  color: var(--text);
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  background-color: transparent;
}
section:first-of-type {
  margin-top: 150px !important;
}
@media screen and (max-width: 768px) {
  section:first-of-type {
    margin-top: 120px !important;
  }
}
@media screen and (min-width: 769px) {
  section.header-section {
    margin-top: 200px !important;
  }
}
section:last-of-type {
  margin-bottom: 150px;
}
section .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 50px;
  width: fit-content;
  margin: 0 auto;
  font-weight: 600;
  gap: 5px;
  margin-bottom: 50px;
  font-family: "Major Mono Display", monospace !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
@media screen and (max-width: 768px) {
  section .section-title {
    width: 80%;
    margin-bottom: 50px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 100px;
  /*  p{
      font-size: 1.5rem;
  } */
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
}

.text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 2 !important;
  /* font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 2 !important; */
}

.nav-container {
  position: fixed;
  top: 8px;
  z-index: 100;
  transition: background-color 0.3s ease-out;
  width: 100%;
  height: 70px;
}

.transparent {
  background-color: transparent;
}

.visible {
  background-color: var(--navbar);
  backdrop-filter: blur(20px) saturate(1.7);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 70px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 100px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0 20px;
    max-width: 80vw;
  }
}
nav .logo-container {
  height: 60%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
nav .logo {
  height: 50px;
  display: flex;
  align-self: center;
}

.burger-button {
  width: 40px;
  border: none;
  background-color: transparent;
  height: 60%;
  display: none;
  font-size: 2rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .burger-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
@media screen and (min-width: 769px) {
  .burger-button.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-links-container {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
    flex: 1;
    gap: 30px;
    height: 60%;
  }
  .nav-links-container.nav-links-container-hide {
    display: none;
  }
  .nav-links-container.nav-links-container-show {
    display: flex;
  }
}

.nav-link {
  text-decoration: none;
  color: var(--text-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-family: "Major Mono Display", monospace !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .nav-link {
    height: 50px;
    background-color: lightblue;
  }
}
@media screen and (min-width: 769px) {
  .nav-link {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover {
    transform: scale(1.2);
    height: 85%;
  }
}
.nav-link.active-link {
  background-color: hsla(160, 22%, 45%, 0.7);
  border-radius: 50px;
  padding: 20px;
}

/*********************************** OVERLAY *****************************************/
.close-btn {
  display: none;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease-in-out;
}
.close-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.close-btn.show-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 50px;
}
.close-btn.show-btn i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  color: white;
}

.no-scroll {
  overflow: hidden;
}

.overlay-menu {
  display: none;
}
.overlay-menu.show-fullscreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary);
  position: absolute;
  top: -8px;
  left: 0;
  animation: fadeInFromBottom 0.5s ease-in-out forwards;
}
.overlay-menu.show-fullscreen html {
  display: none;
}
@media screen and (min-width: 769px) {
  .overlay-menu.show-fullscreen {
    padding: 60px 15% 80px 15%;
  }
}

.overlay-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .overlay-inner-container {
    flex-direction: column;
    padding: 0;
  }
}
@media screen and (min-width: 769px) {
  .overlay-inner-container {
    flex-direction: row;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 50px;
  }
}

.overlay-logo {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 768px) {
  .overlay-logo {
    flex: 1;
  }
}
.overlay-logo img {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .overlay-logo img {
    width: 100px;
  }
}

.overlay-links-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  gap: 10%;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .overlay-links-container {
    align-items: center;
    padding: 0;
  }
}
.overlay-links-container .overlay-nav-link {
  animation: fadeInFromBottom 0.5s ease-in-out forwards;
  text-decoration: none;
  color: var(--text-2);
  font-size: 2rem;
  text-align: center;
  font-weight: 400px;
  font-family: "Major Mono Display", monospace !important;
  font-weight: 400 !important;
  font-style: normal !important;
  opacity: 0;
  height: 10vh;
  vertical-align: middle !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.overlay-links-container .overlay-nav-link:nth-child(2) {
  animation-delay: 0.2s;
}
.overlay-links-container .overlay-nav-link:nth-child(3) {
  animation-delay: 0.4s;
}
.overlay-links-container .overlay-nav-link:nth-child(4) {
  animation-delay: 0.6s;
}
@media screen and (max-width: 768px) {
  .overlay-links-container .overlay-nav-link {
    width: 30%;
  }
}
@media screen and (min-width: 769px) {
  .overlay-links-container .overlay-nav-link {
    position: relative;
    height: 50px;
  }
}
.overlay-links-container .overlay-nav-link.active-link {
  border-bottom: 2px solid var(--text-2);
  color: var(--text-2);
}
.overlay-links-container .overlay-nav-link:hover {
  color: black;
}

.overlay-right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 768px) {
  .overlay-right-container .social-icons {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .overlay-right-container .copyright {
    text-align: center;
    gap: 100px;
  }
}

footer {
  height: 20vh;
  color: var(--tertiary);
}
footer::before {
  content: "";
  position: relative;
  /* Add position: absolute for proper positioning */
  left: 10%;
  border-top: 1px solid var(--tertiary);
  width: 80%;
  display: block;
}
@media screen and (max-width: 768px) {
  footer {
    height: 30vh;
  }
}

.footer-content-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .footer-content-container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 576px) {
  .footer-content-container {
    padding: 20px;
  }
}

.copyright {
  font-size: 1rem;
}
@media screen and (max-width: 576px) {
  .copyright {
    width: 100%;
    text-align: center;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  height: fit-content !important;
  height: 50px;
}
.social-icons i {
  font-size: 2rem;
  color: var(--tertiary);
  transition: all 0.3s ease-in-out;
}
.social-icons i:hover {
  transform: scale(1.2);
  color: var(--text-2);
}
@media screen and (max-width: 768px) {
  .social-icons {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .social-icons {
    width: 100%;
    justify-content: center;
  }
}

@keyframes oscillate {
  0%, 100% {
    transform: skewY(0);
  }
  50% {
    transform: skewY(2deg);
  }
}
@keyframes fadeOutToLeft {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}
/* @keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
} */
@keyframes oscillate {
  0%, 100% {
    transform: skewY(0);
  }
  50% {
    transform: skewY(2deg);
  }
}
/* yoooo */
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes horizontalLoop {
  0% {
    object-position: left;
    opacity: 0;
  }
  50% {
    object-position: center;
    opacity: 1;
  }
  100% {
    object-position: right;
    opacity: 0;
  }
}
/***************************** Home header ***********************************/
.header-section {
  background-color: var(--secondary);
}

.header-container {
  height: 340px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    height: 600px;
    padding: 0;
  }
}

.features-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  animation: fadeInFromBottom 1s ease-in-out forwards;
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .features-box {
    flex-basis: 40%;
    order: 2;
    width: 100%;
  }
}

.features-list {
  height: 500px;
  width: 250px;
  background-color: var(--tertiary);
  border-radius: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--primary);
}
@media screen and (max-width: 768px) {
  .features-list {
    height: 180px;
    width: 90%;
    padding: 20px 0;
    margin-right: 10%;
    position: relative;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.feature {
  font-size: 1.4rem;
  transition: transform 1s ease-in-out;
  color: var(--primary);
  text-align: center;
}
@media screen and (max-width: 768px) {
  .feature {
    margin-left: 10%;
  }
}
.feature.marked {
  transform: scale(1.4);
  font-weight: 400;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .feature.marked {
    width: fit-content !important;
    font-weight: 400;
  }
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-basis: 50%;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .image-container {
    flex-basis: 60%;
  }
}

.images-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  animation: fadeInFromTop 1s ease-in-out forwards;
}
.images-list .header-img {
  width: 280px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--secondary-border);
  opacity: 0;
}

/********************************* HOME INTRO **************************************/
.home-intro-section {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.rectangle {
  background-color: var(--secondary);
  font-size: 1.5rem;
  color: var(--tertiary);
  width: 80%;
  margin-left: 20%;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  border: 1px solid var(--secondary-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 20px 0;
  opacity: 0;
  height: 250px;
}
@media screen and (max-width: 576px) {
  .rectangle {
    width: 90%;
    margin-left: 10%;
  }
}

.intro-text {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  gap: 15px;
  align-self: center;
  position: absolute;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .intro-text {
    width: 80%;
  }
}
.intro-text p {
  width: 100%;
}

/************************ Home portfolio preview ***********************************/
@media screen and (max-width: 576px) {
  .home-portfolio {
    margin-bottom: unset !important;
  }
}

.portfolio-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 400px;
  gap: 55px;
  position: relative;
}
.portfolio-preview h1 {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.portfolio-preview-card {
  text-decoration: none;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  height: 300px;
}
@media screen and (min-width: 769px) {
  .portfolio-preview-card {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .portfolio-preview-card {
    width: 68%;
    height: 200px;
  }
}
.portfolio-preview-card .portfolio-preview-img {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.295);
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.3s ease-in-out;
}
.portfolio-preview-card .card-title {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: hsla(158, 100%, 0%, 0.6);
  padding: 10px;
  color: var(--text-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: opacity 0.3s ease-in-out;
  font-weight: 400 !important;
  font-size: 1.2rem;
  border-radius: 20px;
}

.current:hover .card-title, .next:hover .card-title {
  opacity: 1;
  z-index: 100;
}

.fade-out-to-left {
  animation: fadeOutToLeft 1s ease-in-out forwards;
}

.fade-in-from-right {
  animation: fadeInFromRight 1s ease-in-out forwards;
}