.portfolio-grid .portfolio-project, .visible {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.12) 0px 4px 2px, rgba(0, 0, 0, 0.12) 0px 8px 4px, rgba(0, 0, 0, 0.12) 0px 16px 8px;
}

.back-up-button {
  display: none;
  background-color: transparent;
  border: none;
  position: fixed;
  right: 2%;
  bottom: 50%;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
}
.back-up-button i {
  font-size: 4rem;
}
.back-up-button:hover {
  transform: scale(1.2);
}

:root {
  --background: #131e23;
  --background: hsla(158, 23%, 20%, 1);
  --primary: hsla(158, 23%, 20%, 1);
  --primary-border: hsla(158, 23%, 30%, 1);
  --secondary: hsla(158, 23%, 25%, 1);
  --secondary-border: hsla(158, 23%, 35%, 1);
  --error-border: red;
  --tertiary:hsla(160, 52%, 71%, 1);
  --navbar: #d4cac5;
  --nav-link: #49c5b6;
  --nav-link-active: #49c5b6;
  --text: hsla(160, 52%, 71%, 1);
  --text-2: #d3ded5;
  --card-color: #ede5db;
  --card-border: #EAD7BB;
  --overlay-navbar:#64B2CD;
  --footer: hsla(158, 28%, 20%, 1);
  --footer-text: hsla(160, 52%, 71%, 1);
  --header: hsla(158, 33%, 25%, 1);
  --features-box: hsla(160, 52%, 71%, 1);
  --features-text: hsla(158, 23%, 20%, 1);
  --intro: hsla(158, 33%, 25%, 1);
  --intro-text: #49c5b6;
  --profile-link: #ac3b61;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  font-weight: 600;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--primary);
  font-size: 18px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  color: var(--text);
}

section {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}
section:last-of-type {
  margin-bottom: 150px;
}
section .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: fit-content;
  margin: 0 auto;
  font-weight: 900;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  section .section-title {
    width: 80%;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 100px;
  /*  p{
       font-size: 1.5rem;
   } */
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
}

.nav-container {
  position: sticky;
  top: 20px;
  z-index: 100;
  margin-bottom: 60px;
  transition: background-color 0.3s ease-out;
}

.transparent {
  background-color: transparent;
}

.visible {
  background-color: var(--navbar);
  background-color: hsla(161, 22%, 35%, 0.7);
  backdrop-filter: blur(20px) saturate(1.7);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 800px;
  margin: 10px auto 0 auto;
  padding: 0 100px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0 20px;
    max-width: 80vw;
  }
}
nav .logo-container {
  height: 60%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .logo {
  height: 150px;
  display: flex;
  align-self: center;
}

.burger-button {
  width: 40px;
  border: none;
  background-color: transparent;
  height: 60%;
  display: none;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .burger-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .burger-button.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-links-container {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 50px;
    height: 60%;
  }
  .nav-links-container.nav-links-container-hide {
    display: none;
  }
  .nav-links-container.nav-links-container-show {
    display: flex;
  }
}

.nav-link {
  text-decoration: none;
  color: var(--text-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-link {
    height: 50px;
    background-color: lightblue;
  }
}
@media screen and (min-width: 769px) {
  .nav-link {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover {
    transform: translateX(-1px) translateY(5px) scale(1.2);
    height: 85%;
  }
}
.nav-link.active-link {
  font-weight: 600;
  background-color: hsla(160, 22%, 45%, 0.7);
  border-radius: 50px;
  padding: 20px;
}

/*********************************** OVERLAY *****************************************/
.close-btn {
  display: none;
  background-color: transparent;
  border: none;
}
.close-btn.show-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-btn.show-btn i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  color: white;
}

.no-scroll {
  overflow: hidden;
}

.overlay-menu {
  display: none;
}
.overlay-menu.show-fullscreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary);
  position: absolute;
  top: -20px;
  left: 0;
  animation: slideNavUp 0.5s ease-in-out forwards;
}
.overlay-menu.show-fullscreen html {
  display: none;
}
@media screen and (min-width: 769px) {
  .overlay-menu.show-fullscreen {
    padding: 60px 15% 80px 15%;
  }
}
.overlay-menu .overlay-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .overlay-menu .overlay-inner-container {
    flex-direction: column;
    padding: 20px;
    /*  .overlay-logo{
        height: 50px;
        text-align: center;
    } */
  }
}
@media screen and (min-width: 769px) {
  .overlay-menu .overlay-inner-container {
    flex-direction: row;
    border-bottom: 1px solid whitesmoke;
    padding: 0 50px 50px 50px;
    /* .overlay-logo{
        flex-basis: 100%;
        height: 100px;
        @include reusables.flex(row, center, center);
    } */
  }
}

.overlay-logo {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .overlay-logo {
    flex: 1;
  }
}
.overlay-logo img {
  width: 200px;
}

.overlay-links-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .overlay-links-container {
    align-items: center;
  }
}
.overlay-links-container .overlay-nav-link {
  animation: slideNavLinkUp 0.5s ease-in-out forwards;
  text-decoration: none;
  color: var(--text-2);
  font-size: 2rem;
  text-align: center;
  opacity: 0;
}
.overlay-links-container .overlay-nav-link:nth-child(2) {
  animation-delay: 0.3s;
}
.overlay-links-container .overlay-nav-link:nth-child(3) {
  animation-delay: 0.6s;
}
.overlay-links-container .overlay-nav-link:nth-child(4) {
  animation-delay: 0.9s;
}
@media screen and (max-width: 768px) {
  .overlay-links-container .overlay-nav-link {
    width: 30%;
  }
}
@media screen and (min-width: 769px) {
  .overlay-links-container .overlay-nav-link {
    position: relative;
    height: 50px;
  }
}
.overlay-links-container .overlay-nav-link.active-link {
  border-bottom: 2px solid white;
}

.overlay-right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .overlay-right-container .social-icons {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .overlay-right-container .copyright {
    text-align: center;
    gap: 100px;
  }
}

/* ANIMATIONS */
@keyframes slideNavLinkUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideNavUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
footer {
  height: 20vh;
  color: var(--footer-text);
}
footer::before {
  content: "";
  position: relative; /* Add position: absolute for proper positioning */
  left: 10%;
  border-top: 1px solid var(--tertiary);
  width: 80%;
  display: block;
}
@media screen and (max-width: 768px) {
  footer {
    height: 30vh;
  }
}

.footer-content-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .footer-content-container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 576px) {
  .footer-content-container {
    padding: 20px;
  }
}

.copyright p {
  font-size: 1.3rem;
}
@media screen and (max-width: 576px) {
  .copyright p {
    width: 100%;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  height: fit-content !important;
  height: 50px;
}
.social-icons i {
  font-size: 2rem;
  color: var(--footer-text);
  transition: transform 0.3s ease-in-out;
}
.social-icons i:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 768px) {
  .social-icons {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .social-icons {
    width: 100%;
    justify-content: center;
  }
}

/* portfolio */
.portfolio-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-grid .portfolio-project {
  position: relative;
  overflow: hidden;
  flex-basis: 400px;
  height: 300px;
  border-radius: 12px;
}
.portfolio-grid .portfolio-project:hover .portfolio-project-caption {
  opacity: 1;
}
.portfolio-grid .portfolio-project:hover img {
  transform: scale(1.05);
}
.portfolio-grid .portfolio-project .portfolio-project-img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  object-position: left;
  opacity: 0;
  transition: opacity 6s ease, transform 0.3s ease-in-out;
  animation: moveLeftoRight 6s linear infinite;
}
.portfolio-grid .portfolio-project .portfolio-project-caption {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: wheat;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

@keyframes moveLeftToRight {
  0% {
    object-position: left;
    /* Initial position on the left */
    opacity: 0;
  }
  50% {
    object-position: center;
    opacity: 1;
  }
  100% {
    object-position: right;
    /* Initial position on the left */
    opacity: 0;
  }
}
.tags-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  padding: 2px 10px;
  border-radius: 10px;
  border: 1px solid lightblue;
  background-color: lightblue;
  width: fit-content;
  text-align: center;
  font-size: 1rem;
}