@use './reusables';

footer {
    &::before {
        content: '';
        position: relative;
        /* Add position: absolute for proper positioning */
        left: 10%;
        border-top: 1px solid var(--tertiary);
        width: 80%;
        display: block;
    }

    height: 20vh;
    //margin-top: 100px;
    color: var(--tertiary);

    @media screen and (max-width: 768px) {
        height: 30vh;
    }
}



.footer-content-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 100px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    @media screen and (max-width: 576px) {
        padding: 20px;

    }
}

.copyright {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;

    @media screen and (max-width: 576px) {
        width: 100%;
        text-align: center;
    }

    .s2i, .footer-name {
        font-weight: 700;
        text-decoration: none;
        color: var(--tertiary);
        transition: all 0.3s ease-in-out;

        &:hover{
            color: var(--text-2);
        }
    }
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    height: fit-content !important;
    height: 50px;

    i {
        font-size: 2rem;
        color: var(--tertiary);
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.2);
            color: var(--text-2);
        }
    }

    @media screen and (max-width: 768px) {
        align-items: center;

    }

    @media screen and (max-width: 576px) {
        width: 100%;
        justify-content: center;

    }
}





@keyframes oscillate {

    0%,
    100% {
        transform: skewY(0);
    }

    50% {
        transform: skewY(2deg);
    }
}