@use './reusables';

:root{
    --background: #131e23;
    --background: #EDE2DC;
    --navbar: #d4cac5;
    --nav-link: #AB3B61;
    --nav-link-active: #AB3B61;
    
    --text: #AB3B61;

    --card-color: #ede5db;
    --card-border: #EAD7BB;

    --overlay-navbar:#64B2CD;

    --footer: #123c69;
    --footer-text: #eae7dc;

    --header: #AB3B61;
    --features-box: #123c69;
    --features-text: #EDE2DC;

    --intro: #ac3b61;
    --intro-text: #EDE2DC;

    --profile-link: #ac3b61;
    
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    //border: 1px solid black;
    
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--background);
    font-size: 18px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: var(--text);

}

section {
    width: 100%;
    margin-bottom: 50px;

    .section-title{
        @include reusables.flex(column, center, center);
        height: 50px;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 50px;
        font-weight: 400;
        border-bottom: 2px solid var(--text);
        

        @media screen and (max-width: 768px) {
            width: 80%;
        }
    }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 100px;

   /*  p{
        font-size: 1.5rem;
    } */
    @media screen and (max-width: 768px) {
        padding: 20px;
    }

    @media screen and (max-width: 576px) {
        padding: 10px;
    }

}