@use './reusables';

:root{
    --background: #131e23;
    --background: #233830;
    --navbar: #d4cac5;
    --nav-link: #49c5b6;
    --nav-link-active: #49c5b6;
    
    --text: #49c5b6;

    --card-color: #ede5db;
    --card-border: #EAD7BB;

    --overlay-navbar:#64B2CD;

    --footer: #233830;
    --footer-text: #49c5b6;

    --header: #49c5b6;
    --features-box: #2779a7;
    --features-text: #49c5b6;

    --intro: #49c5b6;
    --intro-text: #233830;

    --profile-link: #ac3b61;
    
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    //border: 1px solid black;
    
}

html{
    font-size: 14px;
    font-weight: 600;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--background);
    font-size: 18px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: var(--text);

}

section {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;

    .section-title{
        @include reusables.flex(column, center, center);
        height: 50px;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 50px;
        font-weight: 900;
        gap: 5px;

        @media screen and (max-width: 768px) {
            width: 80%;
        }

    }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 100px;

   /*  p{
        font-size: 1.5rem;
    } */
    @media screen and (max-width: 768px) {
        padding: 20px;
    }

    @media screen and (max-width: 576px) {
        padding: 10px;
    }

}