@use './reusables';

:root{
    --background: #F8F5F1;
    --navbar: #F8F5F1;
    
    --text: #2C3639;

    --card-color: #ede5db;
    --card-border: #EAD7BB;

    --overlay-navbar:#64B2CD;

    --footer: #354259;
    --footer-text: #CDC2AE;

    --header: #64B2CD;
    --features-box: #3C70A4;
    --features-text: #F8F5F1;

    --intro: #DA9833;
    --intro-text: #F8F5F1;
    
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    //border: 1px solid black;
    
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--background);
    font-size: 18px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: var(--text);

}

section {
    width: 100%;
    margin-bottom: 50px;

    .section-title{
        @include reusables.flex(column, center, center);
        height: 150px;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
        font-weight: 400;
        border-bottom: 1px solid black;
        

        @media screen and (max-width: 768px) {
            width: 80%;
        }
    }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 100px;

   /*  p{
        font-size: 1.5rem;
    } */
    @media screen and (max-width: 768px) {
        padding: 20px;
    }

    @media screen and (max-width: 576px) {
        padding: 10px;
    }

}