@use './reusables';

.nav-container {
    position: fixed;
    top: 8px;
    z-index: 100;
    transition: background-color 0.3s ease-out;
    width: 100%;
    height: 70px;
}

.transparent {
    background-color: transparent;

}

.visible {
    background-color: var(--navbar);
    background-color: hsla(161, 22%, 35%, 0.7);
    backdrop-filter: blur(20px) saturate(1.7);
    @extend %shadow-effect;
}

nav {
    @include reusables.flex(row, space-between, center);
    height: 70px;
    max-width: 800px;
    margin:  0 auto;
    padding: 0 100px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;

    @media screen and (max-width: 768px) {
        padding: 0 20px;
        max-width: 80vw;
    }

    .logo-container {
        height: 60%;
        flex: 1;
        @include reusables.flex(row, flex-start, center);
    }

    .logo {
        height: 50px;
        display: flex;
        align-self: center;

        
    }
}


.burger-button {
    width: 40px;
    border: none;
    background-color: transparent;
    height: 60%;
    display: none;
    font-size: 2rem;
    color: black;

    @media screen and (max-width: 768px) {
        @include reusables.flex(row, center, center);
    }

    @media screen and (min-width: 769px) {
        &.show {
            @include reusables.flex(row, center, center);
        }
    }
}

.nav-links-container {
    
    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 769px) {
        @include reusables.flex(row, flex-end, center);
        flex: 1;
        gap: 30px;
        height: 60%;

        &.nav-links-container-hide {
            display: none;
        }

        &.nav-links-container-show {
            display: flex;
        }
    }
}


.nav-link {

    text-decoration: none;
    color: var(--text-2);
    @include reusables.flex(row, center, center);
    
    font-family: "Major Mono Display", monospace !important;
        font-weight: 400 !important;
        font-style: normal !important;
        font-size:1rem;

    @media screen and (max-width: 768px) {
        height: 50px;
        background-color: lightblue;
    }

    @media screen and (min-width: 769px) {
        height: 100%;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.2);
            height: 85%;
        }
    }

    &.active-link {
        background-color: hsla(160, 22%, 45%, 0.7);
        border-radius: 50px;
        padding: 20px;
    }
}


/*********************************** OVERLAY *****************************************/


.close-btn {
    display: none;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease-in-out;

    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }

    &.show-btn {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50px;
        right: 50px;

        i {
            @include reusables.flex(column, center, center);
            width: 50px;
            height: 50px;
            font-size: 3rem;
            color: white;
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.overlay-menu {
    display: none;

    &.show-fullscreen {

        html {
            display: none;
        }

        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: var(--secondary);
        position: absolute;
        top: -8px;
        left: 0;
        animation: fadeInFromBottom 0.5s ease-in-out forwards;

        @media screen and (min-width: 769px) {
            padding: 60px 15% 80px 15%;

        }
    }
}

.overlay-inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0;
    }

    @media screen and (min-width: 769px) {
        flex-direction: row;
        border-bottom: 1px solid whitesmoke;
        //padding: 0 50px 50px 50px;
        padding-bottom: 50px;
    }
}

.overlay-logo {
    flex-basis: 100%;
    @include reusables.flex(row, center, center);

    @media screen and (max-width: 768px) {
        flex: 1;
    }

    img{
        width: 200px;
        @media screen and (max-width: 768px) {
            width: 100px;
        }
    }
}

.overlay-links-container {
    flex: 1;
    width: 100%;
    @include reusables.flex(column, center, flex-start);
    gap: 10%;
    padding-bottom: 50px;

    @media screen and (max-width: 768px) {
        align-items: center;
        padding: 0;
    }

    .overlay-nav-link {

        animation: fadeInFromBottom 0.5s ease-in-out forwards;
        text-decoration: none;
        color: var(--text-2);
        font-size: 2rem;
        text-align: center;
        font-weight: 400px;
        font-family: "Major Mono Display", monospace !important;
        font-weight: 400 !important;
        font-style: normal !important;
        opacity: 0;
        height: 10vh;
        vertical-align: middle !important;
        @include reusables.flex(row, center, center);

        @for $i from 2 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: 0.2s * ($i - 1);
            }
        }

        @media screen and (max-width: 768px) {
            width: 30%;
        }

        @media screen and (min-width: 769px) {
            
            position: relative;
            height: 50px;
        }

        &.active-link {
            border-bottom: 2px solid var(--text-2);
            color: var(--text-2);
        }

        &:hover{
            color: black;
        }
    }
}


.overlay-right-container {
    flex: 1;
    @include reusables.flex(column, space-evenly, center);

    .social-icons {
        @media screen and (max-width: 768px) {
            gap: 20px;
        }
    }

    .copyright {
        @media screen and (max-width: 768px) {
            text-align: center;
            gap: 100px;
        }
        
    }
}