@mixin flex($dir: row, $just: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    gap: $gap;
}


%shadow-effect {
    box-shadow:
        rgba(0, 0, 0, 0.12) 0px 2px 1px,
        rgba(0, 0, 0, 0.12) 0px 4px 2px,
        rgba(0, 0, 0, 0.12) 0px 8px 4px,
        rgba(0, 0, 0, 0.12) 0px 16px 8px;
}


.back-up-button {
    display: none;
    background-color: transparent;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s ease-in-out;
    z-index: 10;

    i {

        font-size: 4rem;
    }

    &:hover {
        transform: scale(1.2);
    }
}


%normal-text {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 2 !important;
}


%phone-80-percent{
    @media screen and (max-width: 768px) {
        width: 80vw;
        margin: 0 auto;        
    }
}



/* Animations */



.fade-in-top {

    animation: slideFromTop 1s ease-in-out forwards;

    @keyframes slideFromTop {
        from {
            opacity: 0;
            transform: translateY(-50px);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}

.fade-in-bottom {

    animation: slideFromBottom 1s ease-in-out forwards;

    @keyframes slideFromBottom {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}


.right-fade-in {

    animation: slideFromRight 1s ease-in-out forwards;

    @keyframes slideFromRight {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}



.left-fade-out {

    animation: slideToLeft 1s ease-in-out forwards;

    @keyframes slideToLeft {
        from {
            opacity: 1;
            transform: translateX(0%);
        }

        to {
            opacity: 0;
            transform: translateX(-50px);
        }
    }

}


/* @keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
} */

@keyframes oscillate {

    0%,
    100% {
        transform: skewY(0);
    }

    50% {
        transform: skewY(2deg); // Adjust the distance you want the element to oscillate
    }
}