@use './general';
@use './navbar';
@use './footer';
@use './reusables';
@use './animations';


/********* ABOUT ME *********/


.about-container {
    @include reusables.flex(column, space-between, center);
    gap: 50px;

    p {
        font-size: 1.3rem;
        color: var(--text-2);
        font-weight: 300;
        max-width: 800px;
        line-height: 2;
        text-align: left;

        @media only screen and (max-width: 768px) {
            width: 90%;
            text-align: justify;
        }
    }
}


/********** CV TIMELINE **********/


.container.timeline {
    padding-top: 0;
    padding-bottom: 0;
}

.timeline {
    height: fit-content;
    position: relative;
    @include reusables.flex(column, center, space-around);
    gap: 40px;

    @media only screen and (max-width: 768px) {
        gap: 100px;
    }
}


.vertical {
    position: absolute;
    height: 100%;
    width: 20px;
    border-radius: 20px;
    background-color: var(--tertiary);
    z-index: 3;
    margin: 0 auto;
    left: 49%;
    @include reusables.flex(column, center, space-around);

    @media only screen and (max-width: 768px) {
        justify-content: center;
    }

    @media only screen and (max-width: 768px) {
        left: 0;
        margin-left: 25%;
    }
}

.horizontal {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    color: var(--text-2);
    transition: all 0.3s linear;
    opacity: 0;


    @media only screen and (max-width: 768px) {
        left: 0;
        margin-left: 26%;
        width: 50%;
    }
    @media only screen and (min-width: 769px) {
        &.n2, &.n4 {
            margin-left: 20%;
        }

        &.n1, &.n3 {
            left: 50%;
        }
    }


        

    .line {
        height: 10px;
        border-radius: 20px;
        background-color: var(--tertiary);
        z-index: 2;
        width: 100%;
        @extend %shadow-effect;
    }

    p {

        font-size: 1rem !important;
        word-wrap: break-word;
        width: 80%;
        transition: all 0.5s ease-in-out;
        align-self: center;
    }
}


.line-fade-in{
    animation: fadeInFromLeft 0.3s ease-in-out forwards;
}



/********** TAG LIST **********/

.tags-container {
    p {
        @extend %phone-80-percent;
    }

    .tags-list {
        @extend %phone-80-percent;
        margin-top: 50px;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
        justify-content: center;
        gap: 20px;
        width: 80%;
        margin: 100px auto 0 auto;

        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media only screen and (max-width: 576px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media only screen and (max-width: 320px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .tag {
        opacity: 0;
        width: max-content;
        border-radius: 20px;
        background-color: var(--tertiary);
        color: var(--primary) !important;
        text-align: center;
        @extend %shadow-effect;
        transition: opacity 0.3s ease-in-out forwards;
        padding: 5px 20px;
        display: flex;
        justify-self: center;
    }

}


.fade-tag-in{
    animation: fadeInFromBottom 0.5s ease-in-out forwards;
    color: var(--primary);

    @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
            animation-delay: 0.1s * ($i - 1);
        }
    }
}