@use './general';
@use './navbar';
@use './footer';
@use './reusables';

@mixin flex_layout($dir: row, $just: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}


/************************************* ABOUT ME *************************************/
.about-container {
    @include reusables.flex(column, space-between, center);
    gap: 20px;

    p {
        @extend %normal-text;
        width: 100%;
        font-size: 1.3rem;
        color: var(--text-2);
        font-weight: 300;

        @media only screen and (max-width: 768px) {
            width: 80%;
            line-height: 1.5;
        }

        @media only screen and (min-width: 769px) {
            width: 80%;
        }
    }
}

/************************************* TAG LIST *************************************/
.tags-container {
    color: var(--text-2);

    p{
        @extend %normal-text;
        @extend %phone-80-percent;
    }

    .tags-list {
        @extend %phone-80-percent;
        margin-top: 50px;
        list-style-type: none;
        @include reusables.flex(row, center, center);
       /*  display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows:auto; */
        gap: 40px;
        flex-wrap: wrap;

        /* @media only screen and (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        } */

    }

    .tag {
        width: max-content;
        border-radius: 30px;
        border: 1px solid rgb(110, 131, 138);
        background-color: var(--text);
        color: var(--background);
        text-align: center;
        @extend %shadow-effect;
        transition: all 0.3s ease-in-out;
        @extend %normal-text;
        padding: 0 20px;

        &:hover{
            background-color: var(--text-2);
            animation: oscillate 0.3s linear infinite; // Adjust the duration as needed
            cursor: pointer;
        }
    }

}

@keyframes oscillate {
    0%, 100% {
      transform: skewY(0);
    }
    50% {
      transform: skewY(2deg); // Adjust the distance you want the element to oscillate
    }
  }

/********************************* CV TIMELINE *************************************/

.container.timeline {
    padding-top: 0;
    padding-bottom: 0;
}

.timeline {
    height: fit-content;
    position: relative;
    @include reusables.flex(column, center, space-around);
    gap: 40px;

    @media only screen and (max-width: 768px) {
        gap: 100px;
    }
    


    .vertical {
        position: absolute;
        height: 100%;
        width: 20px;
        border-radius: 20px;
        background-color: var(--features-box);
        z-index: 3;
        margin: 0 auto;
        left: 49%;
        //border: 1px solid rgb(110, 131, 138);
        @extend %shadow-effect;
        @include reusables.flex(column, center, space-around);

        @media only screen and (max-width: 768px) {
            justify-content: center;
        }

        @media only screen and (max-width: 768px) {
            left: 0;
            margin-left: 25%;
        }
    }

    .horizontal {
        width: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 400;
        color: var(--text-2);
        transition: all 0.3s linear;

    
        
        
        @media only screen and (max-width: 768px) {
            left: 0;
            margin-left: 26%;
            width: 50%;
        }

        @media only screen and (min-width: 768px) {

            &.n2, &.n4{
                left: 20%;
            }

            &.n1,
            &.n3 {
                left: 50%;
    /* 
                p {
                     align-self: flex-end;
                    text-align: right; 
                } */
            }
        }

        .line {
            height: 10px;
            border-radius: 20px;
            background-color: var(--features-box);
            z-index: 2;
            width: 100%;
            border: 1px solid rgb(110, 131, 138);
            @extend %shadow-effect;
            transition: all 0.3s ease-in-out;
        }

        p {
            @extend %normal-text;

            font-size: 1rem !important;
            word-wrap: break-word;
            width: 80%;
            transition: all 0.5s ease-in-out;
            align-self: center;
            //max-width: 50%;
            opacity: 0;

        }

        &.marked-phase {

           // transform: perspective(50vw) rotateX(40deg);

            p{
                animation: slideFromLeftFast 0.3s ease-in-out forwards;
            }

            
            
            
        }

        
        
    }
}



    @keyframes slideFromLeftFast {
        from {
            opacity: 0;
            transform: translateX(-30px);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }