@use './general';
@use './navbar';
@use './footer';
@use './reusables';

@mixin flex_layout($dir: row, $just: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}


/********* ABOUT ME *********/


.about-container {
    @include reusables.flex(column, space-between, center);
    gap: 50px;

    p {
        font-size: 1.3rem;
        color: var(--text-2);
        font-weight: 300;
        width: 65%;
        line-height: 2;
        text-align: left;

        @media only screen and (max-width: 768px) {
            width: 80%;
        }
    }
}



/********** CV TIMELINE **********/


.container.timeline {
    padding-top: 0;
    padding-bottom: 0;
}

.timeline {
    height: fit-content;
    position: relative;
    @include reusables.flex(column, center, space-around);
    gap: 40px;

    @media only screen and (max-width: 768px) {
        gap: 100px;
    }
}


.vertical {
    position: absolute;
    height: 100%;
    width: 20px;
    border-radius: 20px;
    background-color: var(--features-box);
    z-index: 3;
    margin: 0 auto;
    left: 49%;
    @extend %shadow-effect;
    @include reusables.flex(column, center, space-around);

    @media only screen and (max-width: 768px) {
        justify-content: center;
    }

    @media only screen and (max-width: 768px) {
        left: 0;
        margin-left: 25%;
    }
}

.horizontal {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    color: var(--text-2);
    transition: all 0.3s linear;
    opacity: 0;


    @media only screen and (max-width: 768px) {
        left: 0;
        margin-left: 26%;
        width: 50%;
    }
    @media only screen and (min-width: 769px) {
        &.n2, &.n4 {
            margin-left: 20%;
        }

        &.n1, &.n3 {
            left: 50%;
        }
    }


        

    .line {
        height: 10px;
        border-radius: 20px;
        background-color: var(--features-box);
        z-index: 2;
        width: 100%;
        border: 1px solid rgb(110, 131, 138);
        @extend %shadow-effect;
    }

    p {
        @extend %normal-text;

        font-size: 1rem !important;
        word-wrap: break-word;
        width: 80%;
        transition: all 0.5s ease-in-out;
        align-self: center;
        //max-width: 50%;

    }
}




/********** TAG LIST **********/

.tags-container {
    color: var(--text-2);

    p {
        @extend %normal-text;
        @extend %phone-80-percent;
    }

    .tags-list {
        @extend %phone-80-percent;
        margin-top: 50px;
        list-style-type: none;
        //@include reusables.flex(row, space-between, center);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(4, 1fr);

        }
        @media only screen and (max-width: 576px) {
            grid-template-columns: repeat(3, 1fr);

        }
        grid-auto-rows: auto;
        justify-content: center;
        gap: 20px;
        //flex-wrap: wrap;
        width: 80%;
        margin: 100px auto 0 auto;

        
    }

    .tag {
        width: max-content;
        border-radius: 20px;
        border: 1px solid rgb(110, 131, 138);
        background-color: var(--text);
        color: var(--primary);
        text-align: center;
        @extend %shadow-effect;
        transition: all 0.3s ease-in-out;
        padding: 5px 20px;
        display: flex;
        justify-self: center;

        &:hover {
            background-color: var(--text-2);
            animation: oscillate 0.3s linear infinite; // Adjust the duration as needed
            cursor: pointer;
        }
    }

}

