@use './general';
@use './navbar';
@use './footer';
@use './reusables';


/****************** PROFILES *******************/
.profiles-container {
    @include reusables.flex(column, space-between, center);
    gap: 20px;
}

.online-profile {
    opacity: 0;
    text-align: center;
    width: 50%;
    height: 50px;
    @include reusables.flex(row, center, center);
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    text-decoration: none;
    color: var(--primary);
    background-color: var(--tertiary);
    animation: slideIn 1s ease-in-out forwards;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: scale(1.1) !important;
        //@extend %shadow-effect;
        cursor: pointer;
    }

    @for $i from 2 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: 0.2s * ($i - 1);
        }
    }

    @media only screen and (min-width:769px) and (max-width: 991px) {
        width: 60%;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
    }

    

}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



/******************* FORM *******************/

.contact-headline {
    @include reusables.flex(column, center, center);
    width: 100%;
    gap: 20px;
}

form {
    @include reusables.flex(column, center, center);
    gap: 30px;

    @media screen and (max-width: 768px) {
        padding: 0;
        margin: 10% 10%;
    }

    .field {
        width: 100%;
        @include reusables.flex(column, center, flex-start);
        gap: 10px;
    }

    label {
        width: 100%;
        text-align: left;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }


    %form-input-field {
        padding: 20px;
        border: none;
        border-radius: 10px;
        background-color: var(--secondary);
        outline: 1px solid var(--secondary-border);
        color: var(--tertiary);
        font-size: 1.2rem;

        &:active, &:focus{
            background-color: var(--secondary);
            outline: 2px solid var(--text);
        }

        &::placeholder{
            color: var(--primary);
        }
    }


    input:-webkit-autofill{
        background-color: transparent;
        outline: 2px solid var(--text) !important;
    }
    input {
        @extend %form-input-field;
        height: 50px;
        width: 100%;
    }

    textarea {
        @extend %form-input-field;
        width: 100%;
        resize: none;
    }

    .form-btn {
       // width: 150px;
        //height: 50px;
        margin-top: 50px;
        border-radius: 10px;
        border: none;
        @extend %shadow-effect;
        transition: all 0.05s ease-in-out;
        background-color: var(--text);
        font-size: 1.5rem;
        color: var(--background);
        padding: 15px 50px;


        &:active {
            transform: translateY(4px);
            box-shadow: none;
        }
    }
}

.name-container {
    width: 100%;
    @include reusables.flex(row, space-between, center);
    gap: 50px;

    div {
        width: 50%;
        @include reusables.flex(column, center, flex-start);
        gap: 10px;
    }

    input {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        @include reusables.flex(column, center, center);
        gap: 30px;

        div {
            width: 100%;
        }
    }
}


.form_input_error{
    background-color: lightcoral;
    border: 1px solid salmon;
    width: 100%;
    height: fit-content;
    display: none;
    border-radius: 12px;
    padding: 20px 0;
}

.form_input_error_visible{
    display: block !important;
}

.success{
    background-color: lightgreen !important;
    border: 1px solid green;
}
