@use './general';
@use './navbar';
@use './footer';
@use './reusables';
@use './animations';


/****************** PROFILES *******************/


.profiles-container {
    @include reusables.flex(column, space-between, center);
    gap: 20px;
}

.online-profile {
    opacity: 0;
    text-align: center;
    width: 300px;
    max-width: 80%;
    height: 50px;
    @include reusables.flex(row, center, center, 10px);
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    text-decoration: none;
    color: var(--primary);
    background-color: var(--tertiary);
    animation: fadeInFromRight 1s ease-in-out forwards;

    @for $i from 2 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: 0.2s * ($i - 1);
        }
    }
}


.after-animation-end {
    opacity: 1;
    animation: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        animation: oscillate 0.3s linear infinite;
        @extend %shadow-effect;
    }
}


/******************* FORM *******************/

.section-title.contact-headline {
    @include reusables.flex(column, center, center);
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 100% !important;
}

form {
    max-width: 800px !important;
    @include reusables.flex(column, center, center);
    gap: 30px;

    @media screen and (max-width: 768px) {
        padding: 0;
        margin: 10% 10%;
    }

    .field {
        width: 100%;
        @include reusables.flex(column, center, flex-start);
        gap: 10px;
    }

    label {
        width: 100%;
        text-align: left;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }


    %form-input-field {

        padding: 20px;
        border: none;
        border-radius: 10px;
        background-color: var(--secondary);
        outline: 1px solid var(--secondary-border);
        color: var(--tertiary);
        font: inherit;

        @media screen and (max-width: 768px) {
            max-width: 80vw !important;
            margin: 0 auto;
        }

        &:active,
        &:focus {
            background-color: var(--secondary);
            outline: 2px solid var(--text);
        }

        &::placeholder {
            color: rgb(186, 186, 186);
        }
    }


    input:-webkit-autofill {
        background-color: transparent;
        outline: 2px solid var(--text) !important;
    }

    input {
        @extend %form-input-field;
        height: 50px;
        width: 100%;
    }

    textarea {
        @extend %form-input-field;
        width: 100%;
        resize: none;
    }

    .form-btn {
        // width: 150px;
        //height: 50px;
        margin-top: 50px;
        border-radius: 10px;
        border: none;
        @extend %shadow-effect;
        background-color: var(--text);
        font-size: 1rem;
        color: var(--primary);
        padding: 15px 50px;
        transition: transform 0.3s ease-in-out;

        &:active {
            transform: translateY(5px);
            box-shadow: none;
        }

        &:hover,
        &:focus {
            outline: 2px solid var(--tertiary);
            color: var(--tertiary);
            background-color: var(--secondary);
        }
    }
}

.name-container {
    width: 100%;
    @include reusables.flex(row, space-between, center);
    gap: 50px;

    div {
        width: 50%;
        @include reusables.flex(column, center, flex-start);
        gap: 10px;
    }

    input {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        @include reusables.flex(column, center, center);
        gap: 30px;

        div {
            width: 100%;
        }
    }
}


/* FORM MESSAGES */

#message_area {
    position: relative;
}

.form_input_error {
    background-color: var(--error);
    color: var(--primary);
    font-weight: 800;
    //background-color: transparent;
    height: fit-content;
    border-radius: 12px;
    padding: 20px 0;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 50%;

    @media screen and (max-width: 768px) {
        width: 96vw;
    }
}

.form_input_error_visible {
    opacity: 1;
}

.success {
    background-color: #66bb6a !important;
    border: 1px solid green;
    color: var(--primary);
}