@use './general';
@use './navbar';
@use './footer';

@mixin flex_layout($dir: row, $just: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}


/* ABOUT ME */
.about-container{
    @include flex_layout(column, space-between, center);
    gap: 20px;

    p{
        width: 100%;
        font-size: 1.5rem;

    }
}




/* PROFILES */
.profiles-container{
    @include flex_layout(column, space-between, center);
    gap: 20px;

    .online-profile{
        text-align: center;
        width: 80%;
        height: 50px;
        @include flex_layout(row, center, center);
        gap: 10px;
        border: 2px solid lightcoral;
        border-radius: 10px;


        @media only screen and (max-width: 600px) {
            width: 100%;
        }
        
    }

    span{
        width: 50%;
        text-align: right;
    }
    i{
        width: 50%;
        text-align: left;
    }
}






/* FORM */

.contact-headline{
    @include flex_layout(column, center, center);
    width: 100%;
    gap: 20px;
    height: 150px !important;
}

form {
    @include flex_layout(column, center, center);
    gap: 30px;

    @media screen and (max-width: 768px) {
        padding: 0;
        margin: 10% 10%;
    }

    .field {
        width: 100%;
        @include flex_layout(column, center, flex-start);
        gap: 10px;
    }

    label {
        width: 100%;
    }


    %form-input-field{
        padding: 20px;
        border: 2px solid lightcoral;
        border-radius: 10px

    }

    input {
        @extend %form-input-field;
        height: 50px;
        width: 100%;
    }

    textarea {
        @extend %form-input-field;
        width: 100%;
        resize: none;
    }

    .form-btn{
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }
}

.name-container {
    width: 100%;
    @include flex_layout(row, space-between, center);
    gap: 50px;

    div {
        width: 50%;
        @include flex_layout(column, center, flex-start);
        gap: 10px;
    }

    input {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        @include flex_layout(column, center, center);
        gap: 10px;

        div {
            width: 100%;
        }
    }
}