@use './general';
@use './navbar';
@use './footer';
@use './reusables';


/***************************** Home header ***********************************/


.header-section {
    background-color: var(--header);

    @media screen and (min-width: 769px) {
        //margin-top: 160px;
    }
}

.header-container {
    height: 340px;
    @include reusables.flex(row, space-around, center);

    @media screen and (max-width: 768px) {
        @include reusables.flex(column, space-around, center);
        height: 600px;
        gap: 0;
        padding: 0;
    }
}

.features-box {
    flex: 1;
    @include reusables.flex(column, center, center);

    @media screen and (max-width: 768px) {
        flex-basis: 40%;
        order: 2;
    }


    .features-list {
        height: 500px;
        width: calc(60% + 100px);
        background-color: var(--features-box);
        border-radius: 20px;
        list-style-type: none;
        @include reusables.flex(column, center, center);
        gap: 20px;

        @media screen and (max-width: 991px) {
            width: 90%;
        }

        @media screen and (max-width: 768px) {
            height: fit-content;
            width: 100%;
            padding: 20px 0;
            position: relative;
            left: -10%;
        }
    }

    .feature {
        font-size: 1.4rem;
        transition: transform 1s ease-in-out;
        color: var(--features-text);
        width: 100%;
        text-align: center;

        @media screen and (max-width: 768px) {
            width: 100vw;
            margin-left: 20%;
        }

        &.marked {
            transform: scale(1.4);
            font-weight: 400;

            @media screen and (max-width: 768px) {
                transform: scale(1.4);
                font-weight: 400;
                width: 100vw;
            }
        }
    }
}


.image-container {
    @include reusables.flex(row, center, center);
    flex: 1;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 768px) {
        flex-basis: 60%;
    }

}

.images-list {
    @include reusables.flex(row, center, center);

    .header-img {
        width: 300px;
        border-radius: 5px;
        position: absolute;
        border-radius: 50%;
        border: 2px solid var(--secondary-border);
    }
}


/********************************* HOME INTRO **************************************/


.home-intro-section {

    //margin-top: 250px;
    height: 350px;

    @include reusables.flex(row, center, center);

    /* @media screen and (max-width: 768px) {
        margin-top: 100px;
    } */

    



}

.rectangle {
    background-color: var(--intro);
    font-size: 1.5rem;
    color: var(--tertiary);
    width: 80%;
    margin-left: 20%;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border: 1px solid var(--secondary-border);
    @include reusables.flex(column, center, center);
    padding: 20px 0;
    opacity: 0;
    height: 250px;

    @media screen and (max-width: 576px) {
       
        width: calc(100vw - 50px);
        margin-left: 50px;
        
    }

}

    .intro-text {
        width: 60%;
        padding: 20px;
        @include reusables.flex(column, center, flex-start);
        gap: 15px;
        margin-left: 10px;
        align-self: center;
        position: absolute;
        margin: 0 auto;


        @media screen and (max-width: 576px) {
            width: 60%;
        }

        p {
            width: 100%;
        }
    }



/************************ Home portfolio preview ***********************************/


section.home-portfolio {
    //margin-bottom: 230px;
    height: 70vh;


   /*  @media screen and (max-width: 576px) {
        margin-top: 230px;
    } */
}

.portfolio-preview {
    @include reusables.flex(row, center, center);
    height: 400px;
    gap: 55px;
    position: relative;

    h1 {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
}

.portfolio-preview-card {
    transition: all 0.35s ease-in-out;
    text-decoration: none;
    position: absolute;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    @media screen and (min-width: 769px) {
        width: 50%;
    }
}


figure {
    @include reusables.flex(column, center, center);
    gap: 20px;
    padding: 12px;

    figcaption {
        padding: 4px 10px;
        text-align: center;
        color: var(--text);
        width: fit-content;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        bottom: 38px;
        background-color: var(--primary);
        color: var(--text-2);
        border-radius: 10px;
    }
}


.portfolio-preview-img {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.295);
    transition: all 0.3s ease-in-out;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 300px;
}


/* animations */



.fade-in-top {

    animation: slideFromTop 1s ease-in-out forwards;

    @keyframes slideFromTop {
        from {
            opacity: 0;
            transform: translateY(-50px);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}

.fade-in-bottom {

    animation: slideFromBottom 1s ease-in-out forwards;

    @keyframes slideFromBottom {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}


.right-fade-in {

    animation: slideFromRight 1s ease-in-out forwards;

    @keyframes slideFromRight {
        from {
            opacity: 0;
            transform: translateX(100px);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}



.left-fade-out {

    animation: slideToLeft 1s ease-in-out forwards;

    @keyframes slideToLeft {
        from {
            opacity: 1;
            transform: translateX(0%);
        }

        to {
            opacity: 0;
            transform: translateX(-100px);
        }
    }
}