@use './general';
@use './navbar';
@use './footer';
@use './reusables';





/* portfolio */
.portfolio-grid {

    @include reusables.flex(row, space-around, center);
    flex-wrap: wrap;
    gap: 50px;

    .portfolio-card
    {
        width: 45%;

        &:hover {
            transform: scale(1.02);
            @extend %shadow-effect;
    
           
        }
        
        @media screen and (max-width: 768px) {
            width: 100%;
        }

        figcaption{
            @include reusables.flex(column, center, center);
            gap: 20px;
        }

        figure{
            height: object-fit;
        }

       
    
        img{
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }  
}



.tags-list{
    list-style-type: none;
    @include reusables.flex(row, center, center);
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    flex-wrap: wrap;
    gap: 10px;

    /* @media only screen and (max-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    } */

}
.tag{
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid lightblue;
    background-color: lightblue;
    width: fit-content;
    text-align: center;
    font-size: 1rem; 

}