@use './general';
@use './navbar';
@use './footer';
@use './reusables';





/* portfolio */
.portfolio-grid {

    @include reusables.flex(row, space-around, center);
    flex-wrap: wrap;
    gap: 50px;

    .portfolio-card
    {
        width: 45%;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.02);
            @extend %shadow-effect;
        }
        
        @media screen and (max-width: 768px) {
            width: 100%;
        }

        figcaption{
            @include reusables.flex(column, center, center);
            gap: 20px;
        }
    }  
}



.tags-list{
    list-style-type: none;
    @include reusables.flex(row, center, center);
    flex-wrap: wrap;
    gap: 10px;

}
.tag{
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid lightblue;
    background-color: lightblue;
    width: fit-content;
    text-align: center;
    font-size: 1rem; 

}